<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kingsley Awoke">
    <title>About Page</title>
    <link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <h1 class="header__h1">Little Taco Shop</h1>
        <nav class="header__nav">
            <ul class="header__ul">
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#menu">Menu</a></li>
                <li><a href="hours.html">Hours</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <figure>
            <img src="../img/tacos_delicioso_1000x667.png" alt="Tocos Delicioso" width="1000" height="667">
            <figcaption class="offscreen">Tocos Delicioso</figcaption>
        </figure>
    </section>
    <main class="main">
        <article id="about" class="main__article about">
            <h2>About</h2>
            <p><abbr title="Little Taco Shop">LTS</abbr>was founded in <time datetime="2023">2022</time> . Our shop was built from a <strong>love of tacos</strong>. We hope our shop adds  a unique and intresting place to our unique little town.</p>
            <aside class="about__trivia">
                <h3>Taco Trivia</h3>
                <details>
                    <summary>When did tacos first appear in United State?</summary>
                    <p class="about__trivia__answer">In <time datetime="1905">1905</time></p>
                </details>
            </aside>
        </article>
        <hr>
    </main>
    <hr>
    <footer class="footer">
        <p>
            <span class="nowrap">Copyright &copy; <time id="year"></time></span>
            <span class="nowrap">The Littel Tacos Shop</span>
        </p>
    </footer>
    <script src="script.js" defer></script>
</body>
</html>